@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;700&display=swap');
/*----------variable-----*/
:root{
    --main-color: #e98b2c;
    --dark:#1b1b22;
    --dark-light:#32323a;
    --white:#ffffff;
    --white-light:#c8c8c8;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
}

::before,
::after{
    box-sizing: border-box;
}

body{
    font-size:16px;
    line-height:1.5;
    color:var(--white-light);
    background-color: var(--dark);
    -webkit-tap-highlight-color: transparent;
    overflow-x:hidden ;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
h1,h2,h3,h4,h6{
    color: var(--white);
}
.container{
    max-width: 1170px;
    /* background-color: red; */
    margin:auto;
}
.min-vh-100{
    min-height: 100;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color: var(--dark);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

.bg-animation-effect{
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    z-index:-1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.bg-animation-effect div{
    height:4px;
    width:4px;
    background-color: var(--main-color);
    margin-left:calc((100%-40px)/11);
    border-radius:50%;
}
.bg-animation-effect div:nth-child(even){
    animation:evenItems 9s linear infinite;
}
@keyframes evenItems{
    0%{
        transform: translateY(0vh);
    }100%{
        transform:translateY(12.5vh);
    }
}
.bg-animation-effect div:nth-child(odd){
    animation:oddItems 8s linear infinite;
}
@keyframes oddItems{
    0%{
        transform: translateY(0vh);
    }100%{
        transform:translateY(-12.5vh);
    }
}

.about-section .min-vh-100{
    padding: 120px 15px;
}
.about-content{
    /* background-color: blue; */
    max-width:620px;
    width:100%;
    margin:auto;
    text-align:center;
}
.about-content img{
    max-width:150px;
    max-width:150px;
    border:5px solid var(--dark-light);
    border-radius:50%;
    margin:0 0 15px;
}
.about-content h1{
    font-size: 28px;
    margin:0 0 8px;
}
.about-content p span{
    font-weight: 600;
    text-transform:capitalize;
}
.about-content p a{
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
}

.about-content p a::before{
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    height: 1px;
    width:0%;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}
.about-content p a:hover::before{
    width: 100%;
}
.about-content h2{
    margin:20px 0 5px;
    text-transform: capitalize;
    font-size: 20px;
}
.about-content .skills{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.about-content .skill-item{
    background-color: var(--dark-light);
    margin:4px 2px 0;
    padding: 2px 10px;
    border-radius: 4px;
    font-size:16px;
    text-transform: capitalize;
}

.hidden{
    display: none;
}

.sec-padding{
    padding: 100px 0;
}

.section-title{
    /* background-color: red; */
    padding:0 15px;
    width:100%;
    margin-bottom: 40px;
}
.section-title h2{
    font-size: 40px;
    text-transform:capitalize;
    text-align: center;
}

/* pf section */
.portfolio-filter{
    /* background-color: red; */
    padding: 0 15px;
    width:100%;
    text-align: center;
   
}
.portfolio-filter-btn{
    padding:4px 10px;
    font-style: 16px;
    border:none;
    border-radius: 4px;
    background-color: var(--dark-light);
    color:var(--white-light);
    text-transform: capitalize;
    margin:0 4px 10px;
    display: inline-block;
    cursor: pointer;
}

button{
    font-family: inherit;
    font-weight: inherit;
}

.portfolio-filter-btn.active{
    background-color: var(--main-color);
    color:var(--white);
    cursor:auto;
}